@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-image: url(../../assets/bg.png);
    background-repeat: repeat;
}